@model WebAppDemo.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>View Works!</h1>
        <div>
            <h2> @Model.Name @Model.Family </h2>
            <h3>@Model.Phone</h3>
        </div>
    </div>
</body>
</html>
